.footer-container {
    font: var(--fontLinks);
    text-align: center;
    background-color: var(--colorHighlight);
    color: var(--colorDefault);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 100vw;
    height: 4.3rem;
}

.footer-container a {
    text-decoration: none;
    color: var(--colorDefault);
    font-weight: bold;
}

.footer-container a:hover {
    text-decoration: underline;
    color: var(--colorLinksActive);
}
