.initialize {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 14rem;
    width: 100%;
}

.initialize #slogan {
    flex-wrap: wrap;
}

.initialize h1 {
    font: var(--fontSloganTitle);
    color: var(--colorHighlight);
}

.initialize p {
    color: var(--colorDetails);
    font: var(--fontSloganParagraph);
}

.initialize #slogan p {
    margin-top: 1.3rem;
}

.initialize #slogan .slogan-btn {
    font: var(--fontLinks);
    text-align: center;
    text-decoration: none;
    background-color: var(--colorHighlight);
    color: var(--colorDefault); 
    display: block;
    padding: 0.5rem;
    border-radius: 1rem;
    max-width: 14rem;
    margin-top: 2rem;
}

.initialize #slogan .slogan-btn:hover {
    color: var(--colorLinksActive);
    text-decoration: underline;
}